/*******************************/
/**********GENERAL**************/
/********************************/

body {
    background-image: url("wood-background.jpg");
    font-family: 'Atma';font-size: 22px;
    font-weight: bold;
}

.light {
    font-weight: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;  
}

/*
.flex-container > div {
    margin: 10px;
}
*/

/*****************************/
/*************TOP*************/
/*****************************/

.flex-container-head {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;   
}

.flex-container-head > div {
    margin: 10px;
}

/***********SCOREBOARD***********/

#myScoreBoard {
    border-radius: 25px;
    border-collapse: separate;
    border: 3px solid black;
    text-align: center;
}

#myScoreBoard td {
    background-color: wheat;
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
}


/*********************************/
/****************MID**************/
/********************************/

.flex-container-mid {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;   
    text-align: center;
}

.flex-container-mid > div {
    margin: 10px;
}

/************BOARD*****************/

#myBoard {
    border-collapse: collapse;
    border: 3px solid black;
    margin: 0px 40px;
}

#myBoard td {
    border: 1px solid black;
    padding: 8px;
    width: 30px;
    height: 30px;
}

/*************STATS***************/

#stats1-container, #stats2-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    
}

#player1-name, #player2-name {
    margin: 0;
}

.notcurrent-player {
    border-radius: 25px;
    border: 5px solid transparent;
    padding: 0 10px;
}

.current-player {
    border-radius: 25px;
    background-color: rgb(247, 63, 63);
    border: 5px solid black;
    padding: 0 10px;
}

#player1Stats, #player2Stats {
    border-radius: 25px;
    border-collapse: separate;
    border: 3px solid black;
}

#player1-name-div, #player2-name-div {
    margin: 10px 0;
}

#player1Stats {
    background-color: black;
}

#player1Stats {
    background-color: black;
}

#player2Stats {
    background-color: white;
}

#player1Stats tr, #player2Stats tr {
    border-radius: 25px;
    border: 3px solid black;
    margin: 0px;
}

#player1Stats td, #player2Stats td {
    border-radius: 25px;
    padding: 10px;
}

#player1Stats td {
    background-color: #ffffff;
    border: 3px solid black;
}

#player2Stats td {
    background-color: black;
    color: white;
    border: 3px solid white;
}



/******************************/
/*************BOTTOM***********/
/*******************************/

.flex-container-bottom {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;   
}

.flex-container-bottom > div {
    margin: 10px;
}

.start-panel {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;  
}

.start-panel > div {
    margin: 10px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    border: 3px solid black;
    border-radius: 25px;
    background-color: wheat; 
}

/*
.control-panel > * {
    margin: 10px;
}*/



/**************OTHER****************/

.game-off tr:nth-child(even) td:nth-child(even){
    background-color: #07660B;
    background-image: url("square1.jpg");
}

.game-off tr:nth-child(odd) td:nth-child(odd){
    background-color: #07660B;
    background-image: url("square1.jpg");
}

.game-off tr:nth-child(odd) td:nth-child(even){
    background-color: #028906;
    background-image: url("square2.jpg");
}

.game-off tr:nth-child(even) td:nth-child(odd){
    background-color: #028906;
    background-image: url("square2.jpg");
}

.game-on tr:nth-child(even) td:nth-child(even){
    background-color: #07660B;
}

.game-on tr:nth-child(odd) td:nth-child(odd){
    background-color: #07660B;
}

.game-on tr:nth-child(odd) td:nth-child(even){
    background-color: #028906;
}

.game-on tr:nth-child(even) td:nth-child(odd){
    background-color: #028906;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
#player1Stats tr:nth-child(odd){
    background-color: #028906 !important;
    background-image: url(square1.jpg);
}

#player1Stats tr:nth-child(even){
    background-color: #028906 !important;
    background-image: url(square2.jpg);
}

#player2Stats tr:nth-child(odd){
    background-color: #07660B !important;
    background-image: url(square2.jpg);
}

#player2Stats tr:nth-child(even){
    background-color: #07660B !important;
    background-image: url(square1.jpg);
}
*/

/******************/

/*
.game-on tr:nth-child(even) td:hover:nth-child(odd){
    background-color: rgb(122, 9, 52);
}

.game-on tr:nth-child(odd) td:hover:nth-child(even){
    background-color: rgb(122, 9, 52);
}

.game-on tr:nth-child(even) td:hover:nth-child(even){
    background-color: rgb(8, 167, 161);
}

.game-on tr:nth-child(odd) td:hover:nth-child(odd){
    background-color: rgb(8, 167, 161);
}

*/