.flex-container {
    display: flex;
    flex-direction: row;    
}

.flex-container > div {
    margin: 10px;
}

.player1 {
    background-color: deeppink !important;
}

.player2 {
    background-color: mediumturquoise !important;
}

#myScoreBoard {
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
}

#myScoreBoard td {
    background-color: wheat;
    border: 3px solid black;
    padding: 10px;
}

#playerStats {
    border-collapse: collapse;
    border: 3px solid black;
    margin: 0px;
    padding: 0px;
}

#playerStats td {
    
}

#playerStars tr {
    border: 3px solid black;
}

#myBoard {
    border-collapse: collapse;
    border: 3px solid black;
}

#myBoard td {
    width: 30px;
    height: 30px;
}

#myBoard tr:nth-child(even) td:nth-child(even){
    background-color: mediumturquoise;
}

#myBoard tr:nth-child(odd) td:nth-child(odd){
    background-color: mediumturquoise;
}

#myBoard tr:nth-child(odd) td:nth-child(even){
    background-color: deeppink;
}

#myBoard tr:nth-child(even) td:nth-child(odd){
    background-color: deeppink;
}

#myBoard tr:nth-child(even) td:hover:nth-child(odd){
    background-color: rgb(122, 9, 52);
}
    
#myBoard tr:nth-child(odd) td:hover:nth-child(even){
    background-color: rgb(122, 9, 52);
}

#myBoard tr:nth-child(even) td:hover:nth-child(even){
    background-color: rgb(8, 167, 161);
}

#myBoard tr:nth-child(odd) td:hover:nth-child(odd){
    background-color: rgb(8, 167, 161);
}

#myBoard td{
    border: 1px solid black;
    padding: 8px;
    
}
